div#principal::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #ffffff!important;
}
div#principal::-webkit-scrollbar-thumb {
    background-color: #2f694e;
    border-radius: 4px;
    outline: 0;
}
.no-clikcable {
    pointer-events: none;
    -moz-pointer-events: none;
    -khtml-pointer-events: none;
    -webkit-pointer-events: none;
    -o-pointer-events: none;
}
#header{
    margin-top: 10px;
}
html, #app, body {
    margin: 0%;
    height: 100%!important;
    width: 100%!important;
    background: #bbfff375!important;
}